/* html { background-image: url("blackboard.jpg");
    background-repeat: no-repeat;
    background-size: cover; */

/* } */
body{
    height: 100vh;
    width: 100vw;
    background-color: beige;
}
h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 0 0 yellow, -2px 0 0 red, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}
.container {
    height: 80%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    

}
.calcContainer{
    height : 60%;
    width: 30%;
    
    display: grid;
    grid-gap: 2px 2px;
    border: 1px solid black;
    grid-template-columns: 24% 24% 24% 25%;
    grid-template-rows: 1.5fr repeat(5, 1fr);
    background: black;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    

}
#display{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-column: span 4;
    text-align: right;
    background-color: greenyellow;
}


.button {
    color: white;
    font-size: 1.2em;
    grid-column: auto / auto;
    grid-row: auto / auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    
    background: grey;
    height: auto;
    width: auto;
}
.operator:focus {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.digit:active {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}